*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-family: 'Quicksand', sans-serif;
    
}


body {
    background:radial-gradient(white,#FFFAF4,#FFF2CC);
    height: 1500px;
    width: 100%;
    overflow-x: hidden;
}

nav {
    height: 150px;
    width: 100%;
    background: #FFA559;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    position: sticky;
    top:0;
}
.logo{
    margin-left: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.logo-text{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 800;
}
.smaller-logo-text{
    font: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    margin-left: 5px;
}
.right-side{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}
.dropdown{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
}
.top-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
}
.top-part-clicked{
    border: 1px solid #fff;
}
.dropdown:hover  .bottom-part {
    display: block;
}
.dropdown:hover  .top-part {
    border: 1PX solid #fff;
}
.isttheh4{
    justify-self: center;
    font-size: 59px;
    color: white;
    text-align: center;
}
.bottom-part{
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 5;
    display: none ;
    background: linear-gradient(40deg,#38383857,#00000049);
}
.bottom-part-on{
    display: block ;
}
.caret {
    width: 0;
    height: 0;
    border-top:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left:6px solid rgb(255, 255, 255);
    transition: 0.4s;
    right: 80px;
    position: absolute;
    top: 15px;
}
.caret1 {
    width: 0;
    height: 0;
    border-top:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:6px solid rgb(255, 254, 254);
    transition: 0.4s;
    position: absolute;
    left: 80px;
    top: 15px;
}



.dropdown ul li {
    list-style:none;
    padding: 10px 0;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.dropdown ul li:hover {
    background: #ffffff49;
    border: 0.5px solid rgba(0, 0, 0, 0.397);
    border-radius: 5px;
}
.dropdown ul li:hover .caret1 {
    transform: rotate(-90deg);
}
.dropdown ul li:hover .caret {
    transform: rotate(90deg);
}
.dropdown ul a {
    text-decoration: none;
    color: rgb(0, 0, 0) ;
    font-family: 'Sono', sans-serif;
    text-transform: uppercase;
}


.mem {
    width: 130px;
    position: relative;
    right: 30px;
}


.dropdown i {
    color: white ;
}
.dropdown i-rotate {
    color: white ;
}
h5{
    padding: 6px 15px;
    transition: all 0.2s ease-in;
    text-decoration: none;
    font-size: 25px;
    color: white;
}
a h3 {
    padding: 6px 15px;
    transition: all 0.2s ease-in;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav a h3:after {
    content: "";
    background:linear-gradient(90deg,red,blue) ;
    position: absolute;;
    height: 3px;
    width: 0%;
    left: 5px;
    bottom: -10px;
    transition:all 0.5s ease-in-out;
    transform: scaleX(0);
}
nav a h3:hover:after{
    width: 100%;
    transform: scaleX(1);
}
nav a h3:hover{
    color: white;;
}

a  {
    text-decoration: none;
}

.sign-up {
    padding: 11px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262A56;
    color: #fff;
    border: none;
    border-radius: 9px;
    height: 60px;
    width: 150px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
        transition: transform 0.3s ease-in-out;

}
.sign-in {
    padding: 19px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #263A29;
    color: #fff;
    border: none;
    border-radius: 9px;
    height: 60px;
    width: 150px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.sign-in:hover {
     background: #355239;
     transform: scale(1.1);
     color: aliceblue;
}
.sign-up:hover {
    background: #31366e;
    transform: scale(1.1);
    color: aliceblue;
}
main {
    height: 90vh;
    width: 100%;
    display: flex;
    border: 1px solid pink;
    
}

.placeA , .placeB{
    width: 50%;
    height: 90vh;
    z-index: 2;
}

.A-picture-mod{
    display: relative;
}

.A_pic1 , .A_pic2 , .A_pic3 {
    position: absolute;
    top: 600px;
}

.A_pic1 {
    width: 700px;
    height: 300px;
    top: 150px;
    z-index: 7;
    left: 100px;

}

.A_pic2 {
    width: 1000px;
    height: 600px;
    z-index:8;
    top: 330px;
    left: 100px;
}

.A_pic3 {
    width: 1500px;
    height: 1500px;
    z-index: 9;
    top: -100px;
    right: 950px;
}

.placeB {
    display: flex;
    flex-direction: column;
}

.B-header {
    font-size: 50px;
    font-family: 'Tilt Warp', cursive;
    position: relative;
    z-index: 3;
}
.logo1{
    margin-left: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: -50px;
    
}
.logo-text1{
    font-size: 55px;
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 800;
    align-self: center;
}
.smaller-logo-text1{
    font: 47px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    margin-left: 5px;
    align-self: end;
}

.second-background {
    position: absolute;
    height: 120vh;
    width: 150vw;
    background: #FFA559;
    bottom: 500px;
    z-index: 0;
    transform: rotate(100deg);
    right: -55vw;
}

.para-text-B{
    font-size: 20px;
    color: #FFFAF4;
    text-align: start;
    line-height: 26px;
}

.B-text{
    margin-top:90px ;
    height: 1200px;
    width: 800px;
    justify-content: space-between;
    align-items: end;
    position: relative;
    left:57px;
}

.B-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.B-top{
    height: 50%;
    width: 100%
    ;display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sign-up1 {
    padding: 11px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262A56;
    color: #fff;
    border: none;
    border-radius: 9px;
    height: 85px;
    width: 180px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
        transition: transform 0.3s ease-in-out;
    margin: 0 20px;

}
.sign-in1 {
    padding: 19px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #263A29;
    color: #fff;
    border: none;
    border-radius: 9px;
    height: 85px;
    width: 180px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 0 20px;
}
.sign-in1:hover {
     background: #355239;
     transform: scale(1.1);
     color: aliceblue;
}
.sign-up1:hover {
    background: #31366e;
    transform: scale(1.1);
    color: aliceblue;
}




























.fake-main.active {
    height: 1000px;
    width: 100%;
    justify-content: space-around;
    display :flex;
    align-items: center;
    position: fixed;
    background: linear-gradient(40deg,#38383857,rgba(0, 0, 0, 0.849));
    position: absolute;
    z-index: 5;
}
.fake-main {
    display: block;
}
.fake-main * {
    z-index: 5;
    
}

.fake-main label {
    color:white ;
    font-family: 'Poppins', sans-serif
}

.wrapper2.active{
    width: 500px;
    height: 600px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    border-radius: 10px  ;
    position: relative;
    display: block;
}
.wrapper2{
    display: none;
}
.wrapper{
    display: none;
}

.wrapper.active {
    width: 500px;
    height: 550px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    border-radius: 10px ;
    position: relative;
    display: block;
}
.wrapper.active.red {
    width: 500px;
    height: 600px;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    border-radius: 10px ;
    position: relative;
    display: block;
    animation: bums 0.2s   1  ;
    
}.x-forthe-box.red{
    position: absolute;;
    top: 0;
    right: 0;
    background-color: white;
    color: rgb(255, 0, 0);
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 7px 12.5px ;
    border-radius: 0px 5px;
    cursor: pointer;
    transform: rotate();
}

@keyframes bums{
    1% {
        transform: translateX(20px);

    }
    11% {
        transform: translateX(0px);

    }25% {
        transform: translateX(-20px);

    }50% {
        transform: translateX(0px);

    }75% {
        transform: translateX(20px);

    }100% {
        transform: translateX(0px);

    }

}

.form-box {
    margin-top: 30px;
}
.x-forthe-box {
    position: absolute;;
    top: 0;
    right: 0;
    background-color: white;
    color: rgb(20, 20, 158);
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 7px 12.5px ;
    border-radius: 0px 5px;
    transition: all 0.7s ease;
    cursor: pointer;
    transform: rotate();
}
.x-forthe-box:hover {
    
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 21px;
    
}


h3 {
    font-size: 60px;
    text-align: center;
}
.fake-main .input  {
    display: flex;
    justify-content: center;
    margin: 40px 0px ;
}

.fake-main .input input {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0px 0px 0px 30px;
    border: none;
    padding:10px 5px
    
}

.fake-main .input label { 
    margin: 4px 20px 0px 20px ; ;
}

.remeber-forget {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-bottom: -3%;
}
.remeber-forget input {
    transform: scale(1.5);
    accent-color: darksalmon;
}

.remeber-forget span  {
    font-family: 'Poppins', sans-serif;
    
}
.remeber-forget a  {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;;
    transition: underline 1s ease;
}

.remeber-forget a:hover  {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    color: white;;
}

.actual-login {
    width: 44%;
    padding: 15px 40px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px ;
    cursor: pointer;
    font-size: 20px;
    transition:all .7s ease;
    font-weight: 600;
    margin: 50px 29% 10px 28%;
}

.actual-login:hover  {
    background-color: rgba(255, 255, 255 );
    color: black;
}
.register1 p {
    font-family: 'Poppins', sans-serif;
    text-align: center;;
    font-size: 15px;
}

.register1 a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    transition: underline 1s ease;
    font-size: 15px;
}
.register1 a:hover {
    
    text-decoration: underline;
   
}

.register p {
    font-family: 'Poppins', sans-serif;
    text-align: center;;
    font-size: 15px;
}

.register a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    transition: underline 1s ease;
    font-size: 15px;
}
.register a:hover {
    text-decoration: underline;
}

































footer {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;;
    background-color: #FFA559;
    z-index: 3;
    padding-top: 24px;
}


.butts {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    width: 20%;
    z-index: 3;
}

.newsletter-btn {
    padding: 20px 40px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 0.5px;
    cursor: pointer;
    font-size: 20px;
    transition:all .3s ease;
    font-weight: 600;
}
.newsletter-btn:hover {
    background-color: white;
    color: black;
}

.discord-btn {
    padding: 20px 50px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 0.5px;
    cursor: pointer;
    font-size: 20px;
    transition:all .3s ease;
    font-weight: 600;
}

.discord-btn:hover {
    background-color: white;
    color: black;
    
}

.learn-more ul li {
    list-style: none ;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    
}

.learn-more ul li a {
    margin:5px 40px ;
    text-decoration: none;
    color: #000;
    transition: all .3s ease-in-out;
    padding: 15px 0;
}

.Support {
    width: 20%;
    z-index: 3;
}
.Company {
    width: 20%;
    z-index: 3;
}
.learn-more {
    width: 20%;
    z-index: 3;
}

.Support ul li {
    list-style: none ;
    display: flex;
    flex-direction: column ;
}

.Support ul li a {
    margin:5px 40px ;
    text-decoration: none;
    color: #000;
    transition: all .3s ease-in-out;
    padding: 15px 0;
}
.Company ul li {
    list-style: none ;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
}

.Company ul li a {
    margin:5px 40px ;
    text-decoration: none;
    color: #000;
    transition: all .3s ease-in-out;
    padding: 15px 0;
}

h2 {
    font-size: 27px;
    color: #262A56;
    margin-left: 38px;
    letter-spacing: 1px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px
}

.socials a  {
    color: rgb(255, 0, 0);
    transition: all .3s ease-in-out;
    border: 2px solid white;
    border-radius: 15% 5%;
    width: 55px;
    height: 50px;
    padding-left: 9px;
    padding-top: 4px;
}

.socials a:hover{
    color: rgb(0, 0, 0);
    background-color: white;;
}

.Company ul li a:hover , .Support ul li a:hover ,.learn-more ul li a:hover  {
    transform: translateX(10px);
    color: white;
}









